.button {
  padding: 0.6rem 1.4rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  background-color: rgb(184, 90, 27);
  color: white;
  border: 1px solid transparent;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

.button:hover,
.button:focus {
  transform: scale(1.03);
  border-color: white;
}
